body
{
    background: none;
}

.login_div1, .login_div2{
    background:pink;
    padding:10px;
    float:none;
    border-radius:15px;
}

#player1_name , #player2_name
{
    display:flex;
    margin-left:20px;
}
#word
{
    width:50%;
    
}
#word_display
{
    letter-spacing:5px;
    
}

#output
{
    background:brown;
    border-radius:10px;
    border-top:10px solid skyblue;
    padding:10px;
    float:none;
    text-align:left;
}
